.infoBox {
  margin-top: 100px;
  z-index: 0;
  text-align: center;
  position: relative;
  border: 1px solid white;
  width: 320px;
}

/*프로필사진*/
.profileWrapper {
  z-index: 10;
}

.profileWrapper > button {
  border: none;
  background-color: white;
  margin: 10px 0 0 0;
  color: skyblue;
  font-weight: 500;
}

.profileImgDiv {
  overflow: hidden;
  width: 170px;
  height: 170px;
  border-radius: 70%;
  margin: 0 auto;
}

.profileImgDiv > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*계정 정보*/
.infoContentBox {
  margin: 35px 0;
}

.name {
  font-size: 28px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.userDescription {
  font-size: 15px;
}

/*표*/
.table {
  margin: 30px 0;
}

.tableDiv > div {
  display: flex;
  width: 400px;
  margin: 0 auto;
}

.tableTitleDiv {
  width: 100px;
  display: flex;
  margin-left: 20px;
  margin-right: 30px;
  justify-content: center;
}

.tableTitleDiv > p {
  font-size: 15px;
  margin: auto 0;
  font-weight: 600;
}

/*소셜 계정*/
.socialTable > p {
  font-size: 14px;
  color: gray;
}

.socialAccountDiv {
  display: flex;
}

.socialIconDiv {
  width: 45px;
  display: flex;
  height: 30px;
}

.socialIconDiv > img {
  height: 20px;
  margin: auto 0;
}

.socialIdDiv {
  width: 200px;
  display: flex;
  margin-left: -10px;
}

.social {
  font-size: 14px;
  margin: auto 0;
  color: black;
}

.nullSocial {
  font-size: 13px;
  color: gray;
  margin: auto 0;
}

.emailDiv > p {
  font-size: 14px;
  margin: auto 0;
}

.authorUserInfoBox {
  background-color: white;
  padding-bottom: 80px;
  width: 300px;
}

.authorUserInfoBox > div > hr {
  width: 320px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.userInfoBox > div > hr {
  width: 320px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*링크*/
.linkTableDiv {
  display: flex;
  cursor: pointer;
}

.linkTableDiv img {
  height: 17px;
  margin: auto 15px auto 0;
}

.personalLink {
  font-size: 14px;
  margin: 3px 0;
}

.hidden {
  display: none;
}
