.header {
  display: flex;
  position: fixed;
  top: 0;
  left: -3px;
  right: -3px;
  height: 75px;
  padding: 1rem;
  bottom: 1px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  justify-content: center;

  > p {
    font-size: 50px;
    font-weight: bold;
    display: inline;
    text-decoration-line: none;
    color: white;
    cursor: pointer;
  }
}

.box {
  padding-top: 8px;
  position: fixed;
  right: 40px;

  > img {
    width: 40px;
  }
}
