.outer_post_box {
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.post_box {
  margin-top: 100px;
  padding: 20px;
}

.category {
  margin: 20px 0;
  cursor: pointer;

  > p {
    font-size: 20px;
    font-weight: 500;
    color: gray;
  }
}

.title {
  margin: 0 0 10px 0;

  > p {
    font-size: 30px;
    font-weight: 700;
  }
}

.date {
  margin: 0 0 10px 0;

  > p {
    color: gray;
    font-size: 13px;
  }
}

.tag {
  display: flex;
  margin: 0 0 10px 0;

  > div {
    margin: 0 10px 0 0;
    cursor: pointer;
  }
}

.contents {
  margin: 50px 0 50px 0;
  width: 100%;

  p {
    line-height: 30px;
  }
}

.btn_box {
  display: flex;
  justify-content: right;
  align-items: center;
}

.btn {
  > button {
    border: none;
    background-color: white;
    cursor: pointer;
  }
}

.hr {
  margin: 20px 0 20px 0;
  width: 100%;
}

.headingList {
  margin-top: 20px;

  > ul {
    list-style: square;
    padding: 0;
  }

  > li {
    font-weight: 600;
    line-height: 20px;
  }
}

.h1Item {
  font-size: 17px;
  cursor: pointer;
}

.h2Item {
  font-size: 13px;
  margin-left: -3px;
  cursor: pointer;
}

.h1Item:hover,
.h2Item:hover {
  color: lightblue;
}

@media (min-width: 1500px) {
  .accountbox {
    position: fixed;
    margin: 80px 0 0 30px;
    z-index: 1000;
    top: 0;
    left: 0;
  }
}

@media (max-width: 1500px) {
  .accountbox {
    display: none;
  }
}

@media (min-width: 1300px) {
  .headingList {
    border-left: 1px solid black;
    padding: 10px 20px;
    position: fixed;
    margin: 400px 100px 0 30px;
    z-index: 1000;
    top: 0;
    right: 0;
  }
}

@media (max-width: 1300px) {
  .headingList {
    display: none;
  }
}
