.outer_post_box {
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.post_box {
  margin-top: 100px;
  padding: 30px;
}

.category {
  margin: 20px 0;
  cursor: pointer;

  > p {
    font-size: 20px;
    font-weight: 500;
    color: gray;
  }
}

.title {
  margin: 0 0 10px 0;

  > p {
    font-size: 30px;
    font-weight: 700;
  }
}

.date {
  margin: 0 0 10px 0;

  > p {
    color: gray;
    font-size: 13px;
  }
}

.tag {
  display: flex;
  margin: 0 0 10px 0;

  > div {
    margin: 0 10px 0 0;
    cursor: pointer;
  }
}

.contents {
  text-align: center;
  width: 100%;

  img {
    width: 450px;
    margin: 30px 0 90px 0;
  }

  p {
    line-height: 30px;
  }
}

.btn_box {
  display: flex;
  justify-content: right;
  align-items: center;
}

.btn {
  > button {
    border: none;
    background-color: white;
    cursor: pointer;
  }
}

.hr {
  margin: 30px 0 50px 0;
  width: 100%;
}
